body {
    display: flex;
    flex-direction: column;
    background-color:rgb(42, 50, 54);
}

img {
    width: 180px;
    height: 180px;
}

p {
    color: aliceblue;
    font-size: 32px;
}

.game-title {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 50px;
    
}

.btn-choices {
    display: flex;
    justify-content: center;
    gap: 50px;
    
}


.btn {
    border-style: solid 1px;
    width: 200px;
    height: 200px;
    background-color: rgb(122, 120, 134);
}   

.computer-player {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-top: 50px;

    
}

.roundCurrent p {
    display: flex;
    justify-content: center;
    
    padding-top: 50px;
    font-size: 20px;

}