body {
    display: flex;
    flex-direction: column;
    background-color:rgb(42, 50, 54);
}

img {
    width: 180px;
    height: 180px;
}

p {
    color: aliceblue;
    font-size: 32px;
}

input {
    background-color: rgb(42, 50, 54);
    color: aliceblue;
    font-size: 20px;
}

#gameTitle {
    display: flex;
    flex-grow: 1;
    background-color: rgb(28, 35, 39);
    justify-content: center;
    gap: 50px;

}

.title {
    font-size: 50px;
    padding: 0%;
    margin: 20px;
}

.playRounds {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
    
}


.btn-choices {
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

#rockPaperScissors {
    display: flex;
    gap: 50px;
}


.btn {
    border-style: solid 1px;
    width: 200px;
    height: 200px;
    background-color: rgb(122, 120, 134);
    border-radius: 25px;
}   

.computer-player {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-top: 50px;

    
}

.roundCurrent p {
    display: flex;
    justify-content: center;
    
    padding-top: 50px;
    font-size: 20px;

}

.newGame {
    padding-top: 10px;
    margin: 0%;
}